<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>BlogApp</title>
  <base href="/">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="icon" type="image/x-icon" href="favicon.ico">
</head>
<body>
  <app-root>
		<div class="form-group">
        <h2>Leave a Replay</h2>
        <form ng-controller="Controller">
            <textarea class="form-control" rows="5" ng-model="cmtName" placeholder="Your Comment"></textarea>
            <br/>
            <button class="btn btn-success btn-md pull-right" ng-click='btn_post();'>Comment</button>
            <br/>
            <hr/>
            <h3>Comments</h3>
            <ul class="list-group">
                <li class="list-group-item" ng-repeat="cmt in comments"> {{ cmt }}
                    <a href="" ng-click="post_cmt($home)"><span class="glyphicon glyphicon-trash" style="color:red; float:right;"></span></a>
                </li>
            </ul>
        </form>
    </div>

<script type="text/javascript">
function Controller($scope) {
     $scope.comments = [];
     $scope.btn_post = function() {
         if ($scope.cmtName != '') {
             $scope.comments.push($scope.cmtName);
             $scope.cmtName = "";
         }
     }
     $scope.post_cmt = function($home) {
         $scope.comments.splice($home, 1);
     }
 }
</script>
	</app-root>
</body>
</html>
